html {
  font-family:sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#pgForm {
  position: absolute;
  left: -50;
  right: -50;
  top: -50;
  width: 50%;
  height: 50%;
  padding: 5rem;
  background-color: blue;
  z-index: 1;
}